@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animation";
@import "base/typography";
@import "base/utilities";

@import "layouts/footer";
@import "layouts/header";
@import "layouts/sidebar";

@import "components/gallery";
@import "components/homes";
@import "components/dermatologists";
@import "components/carousel";
@import "components/story";
@import "components/banner";
@import "components/mobile-app";
@import "components/top-categories";
@import "components/real-deals";
@import "components/best-sellers";
@import "components/our-favourites";
@import "components/reviews";
@import "components/button";
@import "components/card";
@import "vendors/slick";
