.features-container{
  background-color: var(--color-white);
  grid-column: full-start/full-end;
  color: var(--color-grey__4)
}
.features{}
@include respond(tab-land){
  .features-container{
    width: calc(100vw - 8rem);
  }
}
