//Basic reset of the html page
//universal selector
//box-sizing: border-box : no extra padding or margin added to the element
//except the height and width of the element */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  //1 rem is now = 10px to make the calculation based on rem easier for future
  ///*But using px as a unit for defining the value of one rem takes away the power away from the user to override the
  // default font size i.e the value of 1 rem by changing font size of the browser
  ///*takes the default font size 16px (10/16)*100 = 62.5 % so now our 1rem = 62.5 % of the browser's font size
  //which by default has a value of 16px this also allows the user to zoom in on the page i.e
  //increasing all the measurements of the page with zoom
  //1 rem =10px
  font-size: 62.5%;
  @include respond(big-desktop) { // width >= 1800
    font-size: 70%; // 1rem =12px 12/16 = 75%
  }
  @include respond(tab-land) { // width <=1200 width >=900
    font-size: 56.25%; // 1rem = 9px , 9/16 = 56.25%
  }
  @include respond(tab-port) { // width <= 900?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }
  box-sizing: border-box;
}

body {
  padding: 3rem;
  font-family: 'Oxygen', sans-serif;
  @include respond(tab-port) {
    padding: 0;
  }
  background-color: var(--color-white);
}

a {
  text-decoration: none;
}

::selection {
  background-color: var(--color-pink-2);
  color: var(--color-white);
}

li {
  list-style: none;
}

h1 {
  font-size: 8rem;
  letter-spacing: 4px;
  font-weight: lighter;
}

h2 {
  font-size: 6rem;
  letter-spacing: 2px;
  font-weight: lighter;
}

h3 {
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: lighter;
}

h4 {
  font-size: 2rem;
  font-weight: lighter;
}

h5, p {
  font-size: 1.6rem;
  font-weight: lighter;
}

h6 {
  font-size: 1.2rem;
  font-weight: lighter;
}

p {
  line-height: 1.5;
  font-weight: lighter;
}

.section {
  padding: 6rem 2rem;
}
