@font-face {
  font-family: 'Vogue';
  font-style: normal;
  font-weight: normal;
  src: local('Vogue'), url("../res/fonts/Vogue.woff") format("woff");
}

.heading-text {
  font-family: 'Vogue', sans-serif !important;
}

.paragraph-text {
  font-family: 'Oxygen', sans-serif !important;
}

h1, h2, h3, h4 {
  font-family: 'Vogue', sans-serif;
}

h5, h6, p {
  font-family: 'Oxygen', sans-serif;
}

body {
  font-family: 'Oxygen', sans-serif;
}
