//TEXT COLORS
.text-color-black {
  color: var(--color-black) !important;
}

.text-color-white {
  color: var(--color-white) !important;
}

.text-color-grey__-4 {
  color: var(--color-grey__-4) !important;
}

.text-color-grey__-3 {
  color: var(--color-grey__-3) !important;
}

.text-color-grey__-2 {
  color: var(--color-grey__-2) !important;
}

.text-color-grey__-1 {
  color: var(--color-grey__-1) !important;
}

.text-color-grey__0 {
  color: var(--color-grey__0) !important;
}

.text-color-grey__1 {
  color: var(--color-grey__1) !important;
}

.text-color-grey__2 {
  color: var(--color-grey__2) !important;
}

.text-color-grey__3 {
  color: var(--color-grey__3) !important;
}

.text-color-grey__4 {
  color: var(--color-grey__4) !important;
}

.text-color-grey__5 {
  color: var(--color-grey__5) !important;
}

.text-color-grey__6 {
  color: var(--color-grey__6) !important;
}

// Primary Color : Pink
.text-color-pink-grey--1 {
  color: var(--color-pink-grey--1) !important;
}

.text-color-pink-grey-0 {
  color: var(--color-pink-grey-0) !important;
}

.text-color-pink--2 {
  color: var(--color-pink--2) !important;
}

.text-color-pink--1 {
  color: var(--color-pink--1) !important;
}

.text-color-pink-0 {
  color: var(--color-pink-0) !important;
}

.text-color-pink-1 {
  color: var(--color-pink-1) !important;
}

.text-color-pink-2 {
  color: var(--color-pink-2) !important;
}

// Accent Color: Purple
.text-color-Brown--2 {
  color: var(--color-Brown--2) !important;
}

.text-color-Brown--1 {
  color: var(--color-Brown--1) !important;
}

.text-color-Brown-0 {
  color: var(--color-Brown-0) !important;
}

.text-color-Brown-1 {
  color: var(--color-Brown-1) !important;
}

.text-color-Brown-2 {
  color: var(--color-Brown-2) !important;
}

// Accent Color : Blue
.text-color-blue--2 {
  color: var(--color-blue--2) !important;
}

.text-color-blue--1 {
  color: var(--color-blue--1) !important;
}

.text-color-blue--0 {
  color: var(--color-blue--0) !important;
}

.text-color-blue-1 {
  color: var(--color-blue-1) !important;
}

.text-color-blue-2 {
  color: var(--color-blue-2) !important;
}

// Secondary Color : Mud color
.text-color-shadow_color_-2 {
  color: var(--color-shadow__-2) !important;
}

.text-color-shadow_color_-1 {
  color: var(--color-shadow__-1) !important;
}

.text-color-shadow__0 {
  color: var(--color-shadow__0) !important;
}

.text-color-shadow__1 {
  color: var(--color-shadow__1) !important;
}

.text-color-shadow__2 {
  color: var(--color-shadow__2) !important;
}
//BACKGROUND COLORS
.bg-color-black {
  background-color: var(--color-black) !important;
}

.bg-color-white {
  background-color: var(--color-white) !important;
}

.bg-color-grey__-4 {
  background-color: var(--color-grey__-4) !important;
}

.bg-color-grey__-3 {
  background-color: var(--color-grey__-3) !important;
}

.bg-color-grey__-2 {
  background-color: var(--color-grey__-2) !important;
}

.bg-color-grey__-1 {
  background-color: var(--color-grey__-1) !important;
}

.bg-color-grey__0 {
  background-color: var(--color-grey__0) !important;
}

.bg-color-grey__1 {
  background-color: var(--color-grey__1) !important;
}

.bg-color-grey__2 {
  background-color: var(--color-grey__2) !important;
}

.bg-color-grey__3 {
  background-color: var(--color-grey__3) !important;
}

.bg-color-grey__4 {
  background-color: var(--color-grey__4) !important;
}

.bg-color-grey__5 {
  background-color: var(--color-grey__5) !important;
}

.bg-color-grey__6 {
  background-color: var(--color-grey__6) !important;
}

// Primary Color : Pink
.bg-color-pink-grey--1 {
  background-color: var(--color-pink-grey--1) !important;
}

.bg-color-pink-grey-0 {
  background-color: var(--color-pink-grey-0) !important;
}

.bg-color-pink--2 {
  background-color: var(--color-pink--2) !important;
}

.bg-color-pink--1 {
  background-color: var(--color-pink--1) !important;
}

.bg-color-pink-0 {
  background-color: var(--color-pink-0) !important;
}

.bg-color-pink-1 {
  background-color: var(--color-pink-1) !important;
}

.bg-color-pink-2 {
  background-color: var(--color-pink-2) !important;
}

// Accent Color: Purple
.bg-color-Brown--2 {
  background-color: var(--color-Brown--2) !important;
}

.bg-color-Brown--1 {
  background-color: var(--color-Brown--1) !important;
}

.bg-color-Brown-0 {
  background-color: var(--color-Brown-0) !important;
}

.bg-color-Brown-1 {
  background-color: var(--color-Brown-1) !important;
}

.bg-color-Brown-2 {
  background-color: var(--color-Brown-2) !important;
}

// Accent Color : Blue
.bg-color-blue--2 {
  background-color: var(--color-blue--2) !important;
}

.bg-color-blue--1 {
  background-color: var(--color-blue--1) !important;
}

.bg-color-blue--0 {
  background-color: var(--color-blue--0) !important;
}

.bg-color-blue-1 {
  background-color: var(--color-blue-1) !important;
}

.bg-color-blue-2 {
  color: var(--color-blue-2) !important;
}

.bg-color-shadow_color_-2 {
  background-color: var(--color-shadow__-2) !important;
}

.bg-color-shadow_color_-1 {
  background-color: var(--color-shadow__-1) !important;
}

.bg-color-shadow__0 {
  background-color: var(--color-shadow__0) !important;
}

.bg-color-shadow__1 {
  background-color: var(--color-shadow__1) !important;
}

.bg-color-shadow__2 {
  background-color: var(--color-shadow__2) !important;
}
